.App {
  font-family: sans-serif;

  /* give flexbox to app children */
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat {
  border: 10px solid #000000;
  max-width: 500px;
  min-width: 400px;
  width: 500px;
}

#chat ul {
  list-style: none;
  width: 100vw;
}

#chat_input input {
  width: 85%;
}

#chat_input button {
  width: 13%;
}
